aiohappyeyeballs==2.7.1+computecanada
aiohttp==3.13.3+computecanada
aiosignal==1.4.0+computecanada
attrs==26.1.0+computecanada
certifi==2026.6.17+computecanada
charset_normalizer==3.4.9+computecanada
cloudpickle==3.1.2+computecanada
contourpy==1.3.3+computecanada
cycler==0.12.1+computecanada
et_xmlfile==2.0.0+computecanada
farama_notifications==0.0.6+computecanada
filelock==3.31.1+computecanada
fonttools==4.63.0+computecanada
frozenlist==1.8.0+computecanada
fsspec==2026.6.0+computecanada
gymnasium==1.3.0+computecanada
idna==3.18+computecanada
jinja2==3.1.6+computecanada
kiwisolver==1.4.9+computecanada
markupsafe==3.0.3+computecanada
matplotlib==3.10.8+computecanada
mpmath==1.3.0+computecanada
multidict==6.7.1+computecanada
networkx==3.6.1+computecanada
numpy==2.4.2+computecanada
nvidia_ml_py==13.610.43+computecanada
openpyxl==3.1.5+computecanada
packaging==26.2+computecanada
pandas==3.0.0+computecanada
pillow==12.1.0+computecanada
propcache==0.5.2+computecanada
psutil==7.2.2+computecanada
pynvml==13.0.1
pyparsing==3.3.2+computecanada
python_dateutil==2.9.0.post0+computecanada
requests==2.34.2+computecanada
scipy==1.17.0+computecanada
six==1.17.0+computecanada
sympy==1.14.0+computecanada
torch==2.13.0+computecanada
torch-geometric==2.8.0.post1
tqdm==4.69.0+computecanada
typing_extensions==4.16.0+computecanada
urllib3==2.7.0+computecanada
xxhash==3.5.0+computecanada
yarl==1.24.5
